extends layout

block content
  .container

    each artical in articals
        .card.my-5
          .card-header #{artical.title} 
          .card-body
            blockquote.blockquote.mb-0 
              p #{artical.text}
              if user
                foot.blockquote-footer #{artical.author.username}, #{artical.date_formatted}
